http:
  routers:
    ha-lan:
      rule: "Host(`${LAN_DOMAIN}`)"
      entryPoints:
        - websecure
      service: ha
      tls:
        certResolver: stepca
  services:
    ha:
      loadBalancer:
        servers:
          - url: "http://127.0.0.1:8123"
